<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">
		<div class="col-sm-3">
			<p></p>
			<p><a href="https://psych.ucsf.edu/">Department of Psychiatry</a></p>            
		</div>

		<div class="col-sm-4">
			<p></p>
			<p><a href="https://www.ucsf.edu/">University of California, San Francisco</a></p>            
		</div>

<!-- 		<div class="col-sm-4">
			<p></p>
			<p><a href="{{ site.url }}{{ site.baseurl }}/about">About</a> 
				<a href="{{ site.url }}{{ site.baseurl }}/recruitment">Recruitment</a>
				<a href="{{ site.url }}{{ site.baseurl }}/contact">Contact</a>
			</p>
		</div> -->


		<div class="collapse navbar-collapse-footer" id="navbar-collapse-1">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="{{ site.url }}{{ site.baseurl }}/about">About</a></li>
				<li><a href="{{ site.url }}{{ site.baseurl }}/recruitment">Recruitment</a></li>
				<li><a href="{{ site.url }}{{ site.baseurl }}/contact">Contact</a></li>
			</ul>
		</div>
		
	  </div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
