<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">


			<ul class="nav navbar-nav navbar-right">
				<li><a href="https://publichealth.gwu.edu">Milken Institute School of Public Health</a></li>
				<li><a href="https://www.gwu.edu/">GWU</a></li>
				<li><a href="{{ site.url }}{{ site.baseurl }}/about">About this site</a></li>
			</ul>


	  </div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
